<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css',_external=True) }}"
    />
  </head>
  <body>
    <div style="height: 1220px">

      <div class="indexpagetop">
        <div style="padding:50px;">
          <img src="{{ url_for('static',filename='logo/blkbox-black-logo.png',_external=True) }}" class="headerimg">
        </div>
        </div>
          <div style="padding-left: 100px;padding-top: 50px;">
            <div style="font-weight: bold;font-size: 150px;">Creative<br>
            Testing</div>
            <div style="font-weight: bold;font-size: 150px;color: #0099ff;">Executive 
            <br>Report</div>
          </div>
          <div style="padding-left: 100px;padding-top: 150px;">
            <h1 style="color: #707B7C;">{{index_date['day']}} ,{{index_date['year']}}</h1>
          </div>
    </div>


    
    <div class="new-page"></div>
    <div class="card">
      <div style="width: 25%; text-align: center">
        <p><i class="fa fa-circle" style="color: #0080ff"></i> Spend</p>
        <h3>$ 20,127</h3>
        <p>
          <i class="fa fa-caret-down" style="color: red; font-size: 20px">
            4%</i
          >
          VS Prev. 7 Days
        </p>
      </div>
      <hr class="vertical" />
      </div>
    <div>
    {% for i in img %}
    <div style="padding-left: 100px;">
      <img src="{{i}}" alt="" width="800px";height="800px">
      <br><br>
    </div>
    {% endfor %}
    </div>

    

<div style="margin-top: 50px;page-break-inside:avoid;">
  <div class="heading">
    <h3>Top Performing Creatives</h3>
  </div>
<table id="customers">
  <tr>
    <th>NAME</th>
    <th>RANK</th>
    <th>SPEND</th>
    <th>CPI</th>
    <th>CPA</th>
    <th>ROAS (D7)</th>
    <th>COMPOSITE</th>
    <th>CPUP</th>
    <th>STATUS</th>
  </tr>
{% for i in top_creative['data']['top_performing_creatives']%}
  <tr>
    <td><img src={{i['image_url']}}></td>
    <td>#{{i['advertiser_priority']}}</td>
    <td>${{i['spend']}}</td>
    <td>${{i['cpi']}}</td>
    <td>${{i['cpa']}}</td>
    <td>${{i['roas_d7']}}</td>
    <td>${{i['composite_metric']}}</td>
    <td>${{i['cpup']}}</td>
    <td> {% if i['is_active']%}
      <p style="color: green;">Active</p>
      {% else %}
      <p slyle="color:red">Inactive</p>

      {%endif%}
     </td>
  </tr>
{% endfor %}

</table>
</div>

<div style="display: flex;margin-top:50px;width: 100%;page-break-inside:avoid;">
    <div class="colorbox">
      <p style="padding-left: 10px;font-size: 20px;">Top Colors</p>
      <hr>
      {% for i in top_creative['data']['primary_colors']%}
      <div class="circle" style="--color:{{i['base']}}"></div>
      {% endfor %}
    </div>
</div>


<div style="margin-top:50px;width: 100%;page-break-inside:avoid;">
    <div class="tagbox">
      <p style="padding-left: 10px;font-size: 20px;">Top Tags</p>
      <hr>
      {% for i in top_creative['data']['tags']%}
      <div class="tags">{{i}}</div>
      {% endfor %}
    </div>
</div>
  </body>
</html>
