<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css',_external=True) }}"
    />
  </head>
  <body>
    <div style="height: 1220px">

      <div class="indexpagetop">
        <div style="padding:50px;">
          <img src="{{ url_for('static',filename='logo/blkbox-black-logo.png',_external=True) }}" class="headerimg">
        </div>
        </div>
          <div style="padding-left: 100px;padding-top: 50px;">
            <div style="font-weight: bold;font-size: 150px;">Creative<br>
            Testing</div>
            <div style="font-weight: bold;font-size: 150px;color: #0099ff;">Executive 
            <br>Report</div>
          </div>
          <div style="padding-left: 100px;padding-top: 150px;">
            <h1 style="color: #707B7C;">{{index_date['day']}} ,{{index_date['year']}}</h1>
          </div>
    </div>


    
    <div class="new-page"></div>


    <div>
      <h1>Phase 1</h1>
      <div class="card">
        <div style="width: 25%; text-align: center">
          <p ><i class="fa fa-circle" style="color: #0080ff"></i> Spend</p>
          <h2>${{metrics['performance_metrics']['spend']['value']}}</h2>
          <p>

            {% if metrics['performance_metrics']['spend']['status']=='ABOVE'%}
            <i class="fa fa-caret-up" style="color: green; font-size: 25px">
              {{metrics['performance_metrics']['spend']['inflation_percent']}}</i>
            {%else%}
            <i class="fa fa-caret-down" style="color: red; font-size: 25px">
              {{metrics['performance_metrics']['spend']['inflation_percent']}}</i>
            {%endif%}
            VS Prev. 7 Days
          </p>
        </div>
        <hr class="vertical" />
        <div style="width: 25%; text-align: center">
          <p><i class="fa fa-circle" style="color: #ffff00"></i> IMP AVG</p>
          <h2>{{metrics['performance_metrics']['ipm']['value']}}%</h2>
          <p>

            {% if metrics['performance_metrics']['ipm']['status']=='ABOVE'%}
            <i class="fa fa-caret-up" style="color: green; font-size: 25px">
              {{metrics['performance_metrics']['ipm']['inflation_percent']}}</i>
            {%else%}
            <i class="fa fa-caret-down" style="color: red; font-size: 25px">
              {{metrics['performance_metrics']['ipm']['inflation_percent']}}</i>
            {%endif%}
            VS Prev. 7 Days
          </p>
        </div>
        <hr class="vertical" />
        <div style="width: 25%; text-align: center">
          <p><i class="fa fa-circle" style="color: #8000ff"></i> CPI AVG</p>
          <h2>${{metrics['performance_metrics']['cpi']['value']}}</h2>
          <p>

            {% if metrics['performance_metrics']['cpi']['status']=='ABOVE'%}
            <i class="fa fa-caret-up" style="color: green; font-size: 25px">
              {{metrics['performance_metrics']['cpi']['inflation_percent']}}</i>
            {%else%}
            <i class="fa fa-caret-down" style="color: red; font-size: 25px">
              {{metrics['performance_metrics']['cpi']['inflation_percent']}}</i>
            {%endif%}
            VS Prev. 7 Days
          </p>
        </div>
        <hr class="vertical" />
        <div style="width: 25%; text-align: center">
          <p><i class="fa fa-circle" style="color: #ff00ff"></i> CPM AVG</p>
          <h2>${{metrics['performance_metrics']['cpm']['value']}}</h2>
          <p>

            {% if metrics['performance_metrics']['cpm']['status']=='ABOVE'%}
            <i class="fa fa-caret-up" style="color: green; font-size: 25px">
              {{metrics['performance_metrics']['cpm']['inflation_percent']}}</i>
            {%else%}
            <i class="fa fa-caret-down" style="color: red; font-size: 25px">
              {{metrics['performance_metrics']['cpm']['inflation_percent']}}</i>
            {%endif%}
            VS Prev. 7 Days
          </p>
        </div>
      </div>
  
      <div class="card">
        <div style="width: 25%; text-align: center">
          <p><i class="fa fa-circle" style="color: #2bcae1"></i> CPA</p>
          <h2>{{metrics['performance_metrics']['cpa']['value']}}</h2>
          <p>

            {% if metrics['performance_metrics']['cpa']['status']=='ABOVE'%}
            <i class="fa fa-caret-up" style="color: green; font-size: 25px">
              {{metrics['performance_metrics']['cpa']['inflation_percent']}}</i>
            {%else%}
            <i class="fa fa-caret-down" style="color: red; font-size: 25px">
              {{metrics['performance_metrics']['cpa']['inflation_percent']}}</i>
            {%endif%}
            VS Prev. 7 Days
          </p>
        </div>
        <hr class="vertical" />
        <div style="width: 25%; text-align: center">
          <p><i class="fa fa-circle" style="color: #a520ee"></i> CTR</p>
          <h2>{{metrics['performance_metrics']['ctr']['value']}}</h2>
          <p>

            {% if metrics['performance_metrics']['ctr']['status']=='ABOVE'%}
            <i class="fa fa-caret-up" style="color: green; font-size: 25px">
              {{metrics['performance_metrics']['ctr']['inflation_percent']}}</i>
            {%else%}
            <i class="fa fa-caret-down" style="color: red; font-size: 25px">
              {{metrics['performance_metrics']['ctr']['inflation_percent']}}</i>
            {%endif%}
            VS Prev. 7 Days
          </p>
        </div>
        <hr class="vertical" />
        <div style="width: 25%; text-align: center">
          <p><i class="fa fa-circle" style="color: #ef6d0a"></i> CTI</p>
          <h2>{{metrics['performance_metrics']['cti']['value']}}</h2>
          <p>

            {% if metrics['performance_metrics']['cti']['status']=='ABOVE'%}
            <i class="fa fa-caret-up" style="color: green; font-size: 25px">
              {{metrics['performance_metrics']['cti']['inflation_percent']}}</i>
            {%else%}
            <i class="fa fa-caret-down" style="color: red; font-size: 25px">
              {{metrics['performance_metrics']['cti']['inflation_percent']}}</i>
            {%endif%}
            VS Prev. 7 Days
          </p>
        </div>
        <hr class="vertical" />
        <div style="width: 25%; text-align: center">
          <p><i class="fa fa-circle" style="color: #ef1f0a"></i> CPUP</p>
          <h2>${{metrics['performance_metrics']['cpup']['value']}}</h2>
          <p>

            {% if metrics['performance_metrics']['cpup']['status']=='ABOVE'%}
            <i class="fa fa-caret-up" style="color: green; font-size: 25px">
              {{metrics['performance_metrics']['cpup']['inflation_percent']}}</i>
            {%else%}
            <i class="fa fa-caret-down" style="color: red; font-size: 25px">
              {{metrics['performance_metrics']['cpup']['inflation_percent']}}</i>
            {%endif%}
            VS Prev. 7 Days
          </p>
        </div>
      </div>
  
      <div class="card">
        <div style="width: 25%; text-align: center">
          <p>
            <i class="fa fa-circle" style="color: #2bcae1"></i> Creatives Tested
          </p>
          <h2>${{metrics['creative_metrics']['tested_creatives']['value']}}</h2>
          <p>

            {% if metrics['creative_metrics']['tested_creatives']['status']=='ABOVE'%}
            <i class="fa fa-caret-up" style="color: green; font-size: 25px">
              {{metrics['creative_metrics']['tested_creatives']['inflation_percent']}}</i>
            {%else%}
            <i class="fa fa-caret-down" style="color: red; font-size: 25px">
              {{metrics['creative_metrics']['tested_creatives']['inflation_percent']}}</i>
            {%endif%}
            VS Prev. 7 Days
          </p>
        </div>
        <hr class="vertical" />
        <div style="width: 25%; text-align: center">
          <p>
            <i class="fa fa-circle" style="color: #a520ee"></i> Above Threshold
          </p>
          <h2>${{metrics['creative_metrics']['above_threshold_creatives']['value']}}</h2>
          <p>

            {% if metrics['creative_metrics']['above_threshold_creatives']['status']=='ABOVE'%}
            <i class="fa fa-caret-up" style="color: green; font-size: 25px">
              {{metrics['creative_metrics']['above_threshold_creatives']['inflation_percent']}}</i>
            {%else%}
            <i class="fa fa-caret-down" style="color: red; font-size: 25px">
              {{metrics['creative_metrics']['above_threshold_creatives']['inflation_percent']}}</i>
            {%endif%}
            VS Prev. 7 Days
          </p>
        </div>
        <hr class="vertical" />
        <div style="width: 25%; text-align: center">
          <p>
            <i class="fa fa-circle" style="color: #ef6d0a"></i> Below Threshold
          </p>
          <h2>${{metrics['creative_metrics']['below_threshold_creatives']['value']}}</h2>
          <p>

            {% if metrics['creative_metrics']['below_threshold_creatives']['status']=='ABOVE'%}
            <i class="fa fa-caret-up" style="color: green; font-size: 25px">
              {{metrics['creative_metrics']['below_threshold_creatives']['inflation_percent']}}</i>
            {%else%}
            <i class="fa fa-caret-down" style="color: red; font-size: 25px">
              {{metrics['creative_metrics']['below_threshold_creatives']['inflation_percent']}}</i>
            {%endif%}
            VS Prev. 7 Days
          </p>
        </div>
        <hr class="vertical" />
        <div style="width: 25%; text-align: center">
          <p><i class="fa fa-circle" style="color: #ef1f0a"></i> Inventory</p>
          <h2>281</h2>
          <p>
            <i class="fa fa-caret-up" style="color: red; font-size: 25px">
              7%</i
            >
            VS Prev. 7 Days
          </p>
        </div>
      </div>
    </div>



    <div style="margin-top: 50px;">
    {% for i in img %}
    <div style="border: 1px solid rgb(224, 217, 217);border-radius: 10px;margin: 50px;">
      <img src="{{i}}" alt="" width="850px";height="800px" style="padding:80px">
      <br><br>
    </div>
    {% endfor %}
    </div>

    

<div style="margin-top: 50px;page-break-inside:avoid;">
  <div class="heading">
    <h3>Top Performing Creatives</h3>
  </div>
<table id="customers">
  <tr>
    <th>NAME</th>
    <th>RANK</th>
    <th>SPEND</th>
    <th>CPI</th>
    <th>CPA</th>
    <th>ROAS (D7)</th>
    <th>COMPOSITE</th>
    <th>CPUP</th>
    <th>STATUS</th>
  </tr>
{% for i in top_creative['top_performing_creatives']%}
  <tr>
    <td><img src={{i['image_url']}}></td>
    <td>#{{i['advertiser_priority']}}</td>
    <td>${{i['spend']}}</td>
    <td>${{i['cpi']}}</td>
    <td>${{i['cpa']}}</td>
    <td>${{i['roas_d7']}}</td>
    <td>${{i['composite_metric']}}</td>
    <td>${{i['cpup']}}</td>
    <td> {% if i['is_active']%}
      <p style="color: green;">Active</p>
      {% else %}
      <p slyle="color:red">Inactive</p>

      {%endif%}
     </td>
  </tr>
{% endfor %}

</table>
</div>

<div style="display: flex;margin-top:50px;width: 100%;page-break-inside:avoid;">
    <div class="colorbox">
      <p style="padding-left: 10px;font-size: 20px;">Top Colors</p>
      <hr>
      {% for i in top_creative['primary_colors']%}
      <div class="circle" style="--color:{{i['base']}}"></div>
      {% endfor %}
    </div>
</div>


<div style="margin-top:50px;width: 100%;page-break-inside:avoid;">
    <div class="tagbox">
      <p style="padding-left: 10px;font-size: 20px;">Top Tags</p>
      <hr>
      {% for i in top_creative['tags']%}
      <div class="tags">{{i}}</div>
      {% endfor %}
    </div>
</div>
  </body>
</html>
