
  .indexpagetop{
    position: relative;
    width: 100%;
    height: 600px;
    margin: 20px 0;
    background: #0099ff;
    border-bottom-left-radius: 1000px 300px;
    border-bottom-right-radius: 1000px 400px;
  }

  .headerimg{
    width: 180px;
    height: 65px;}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Globals */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: 500 16px/1.5 'Inter', sans-serif;
}

.layout {
  width: 100%;
  margin: 2rem auto;
  background: rgba(255, 255, 255, 0.82);
  border: 0.5px solid #EEF0F3;
  box-shadow: 0px 3.51258px 9.6596px rgba(9, 30, 46, 0.05);
  border-radius: 0.5rem;
}

.container {
  padding: 1rem 1.5rem;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.p-4 {
  padding: 1rem;
}

/* Typography */

h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

/* Sections */

header {
  border-bottom: 1px solid #EEF0F3;
}

.executive_reports_metrics {
  display: flex;
  margin-bottom: 1rem;
}

.executive_metrics_layout {
  width: 100%
}

.executive_metrics_container {
  background: #FFFFFF;
  border: 1px solid #F0EEF1;
  border-radius: 5px;
  padding: 1.25rem 0;
  margin-bottom: 12px;
}

.executive_metric_card {
  width: 230px;
  padding: 0 1.25rem;
  display: flex;
  align-items: flex-start;
}

.color-box {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: var(--color);
  margin-right: 5px;
}

.executive_metric h3 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 9px;
  letter-spacing: 0.0701525px;
  color: #6B7280;
}

.executive_metric h4 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 12px;
  letter-spacing: -0.438453px;
  color: #051623;
  margin: 1rem 0;
}

.executive_metric p {
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 12px;
  letter-spacing: -0.438453px;
  color: #6B7280;
}

.executive_metrics_container .executive_metric_card {
  border-left: 1px solid #EEF0F3;
}

.executive_metrics_container .executive_metric_card:first-child {
  border: none;
}

.above {
  color: #0BAB98;
}

.below {
  color: #E75A62;
}

.same {
  color: #54CDF3;
}

.above img,
.below img {
  width: 10px;
}

.win_rate {
  background: #FFFFFF;
  border: 1px solid #F0EEF1;
  border-radius: 5px;
  flex-grow: 1;
  margin-left: 1rem;
}

.win_rate h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 11px;
  color: #6B7280;
  padding: 1rem;
  border-bottom: 0.5px solid #F0EEF1;
}



.graph_card {
  width: 100%;
  min-height: 350px;
  background: #FFFFFF;
  border: 1px solid #F0EEF1;
  border-radius: 5px;
  margin-bottom: 1rem;
}



.colors,
.tags {
  width: 49.5%;
  background: rgba(255, 255, 255, 0.82);
  border: 1px solid #EEF0F3;
  border-radius: 2.49744px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0.5rem;
  background-color: var(--color);
}

.tag {
  border: 0.5px solid #E9EBEE;
  border-radius: 1rem;
  padding: 0.8rem;
  margin: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 8px;
  letter-spacing: 0.05px;
  color: #111827;
}


.top_performing_creatives h3,
.tags h3,
.colors h3 {
 font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 11px;
  color: #051623;
  padding: 1rem;
  border-bottom: 0.5px solid #F0EEF1;
}

.top_performing_creatives {
  background: rgba(255, 255, 255, 0.82);
  border: 1px solid #F0EEF1;
  border-radius: 5px;
  page-break-inside:avoid;
}


.top_performing_creatives {
  width: 100%;
  margin-bottom: 1rem;
}

table {
  width: 100%;
}

thead td{
  height: 15px;
}
thead td,
tbody td {
  padding: 1rem;
}

thead {
  background: #F7F8FB;
  color: #6C7890;
}

tbody tr {
  border-bottom: 0.540174px solid #F2F4F7;
}

tbody .name {
  width: 350px;
  word-break: break-all;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

tbody .name img {
  width: 42px;
  height: 42px;
  border-radius: 5px;
  margin-right: 1rem;
}
.new-page{
  page-break-after: always;
}
